@model IEnumerable<KurumsalWeb.Models.Admin>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";
}

<h2>Kullanıcılar</h2>

<p>
    @Html.ActionLink("Kullanıcı Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permission)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permission)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.AdminId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.AdminId })
        </td>
    </tr>
}

</table>
